<!DOCTYPE HTML>
<html lang="en" layout:decorator="fragments/page">
<head th:replace="fragments/page :: html_base_head(~{::title},~{::link})">
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/empty.css}"/>
</head>

<body class="bg-light">
<nav th:replace="fragments/page :: navigation_bar_style_1">..</nav>


<div class="container">

    <div class="pt-md-3 pb-md-4">
        <h1 class="bd-title mt-0">You have reached the main page</h1>
        <p class="bd-lead">Feel free to stare at this for as long as you like. Once I find out what I want this to be
            I will let you know...hopefully!</p>

        <div class="row">
            <div class="col" sec:authorize="hasRole('ROLE_ADMIN')" >
                <a class="btn btn-primary" href="/admin/viewUsers" role="button">View Users [admin]</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="/login?logout" role="button">Logout</a>
            </div>
        </div>
    </div>


    <!--    <main>-->

    <!--        <div class="row g-3">-->
    <!--            <div class="col-md-7 col-lg-8">-->
    <!--                <div class="row align-items-center top-buffer">-->
    <!--                    <div class="col">-->
    <!--                        <a class="btn btn-primary" href="/admin/viewUsers" role="button">View Users</a>-->
    <!--                    </div>-->
    <!--                    <div class="col">-->
    <!--                        <a class="btn btn-primary" href="/login?logout" role="button">Logout</a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </main>-->

    <!--    <div class="row top-buffer">-->
    <!--        <div class="col">-->
    <!--            2021-->
    <!--        </div>-->
    <!--        <div class="col">-->
    <!--            <div class="text-danger" th:if="${#arrays.contains(@environment.getActiveProfiles(), 'production')}">-->
    <!--                production-mode-->
    <!--            </div>-->
    <!--            <div class="text-success" th:if="${#arrays.contains(@environment.getActiveProfiles(), 'development')}">-->
    <!--                development-mode-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>

<div th:replace="fragments/page :: javascript_includes">...</div>
<div th:replace="fragments/page :: app_context_footer">...</div>

</body>
</html>
