<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap core CSS -->
<!--    <link href="../static/css/form-validation.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{../css/form-validation.css}" />-->

</head>
<body>
<p>
    Register User
</p>
<table>
    <tr>
        <td>Registration Result</td>
        <td><p th:text="${message}"/></td>
    </tr>
</table>
</body>
</html>